{% extends 'connexion.html.twig' %}

{% block title %}
	Log in!
{% endblock %}

{% block body %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url({{ asset('bootstrap/Logins/images/bg-01.jpg') }})">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Login
				</span>
				<form method="post" class="login100-form validate-form p-b-33 p-t-5">
					{% if error %}
						<div class="alert alert-danger">
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }}
							<a href="{{ path('app_logout') }}">
								Logout
							</a>
						</div>
					{% endif %}

					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<label for="inputEmail">
							Email
						</label>
						<input class="input100" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<label for="inputPassword">
							Password
						</label>
						<input class="input100" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</div>
					<div class="container-login100-form-btn m-t-32" type="submit">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

				</form>
			</div>
		</div>
		<div id="dropDownSelect1"></div>

	{% endblock %}
