{% extends 'connexion.html.twig' %}

{% block title %}
    Log in!
                
            
        
    
{% endblock %}

{% block body %}
    {# <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                    
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        > #}

    {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html
                    
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

    {# <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                    </form> #}
        <div class="limiter"> <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Account Login
                                                        
                                    
                </span>
                <form method="post" class="login100-form validate-form p-b-33 p-t-5">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as 
                                                                                                                                            
                                                                                                                
                                                                                    
                                                        
                            {{ app.user.userIdentifier }}
                            , 
                                                                                                                                            
                                                                                                                
                                                                                    
                                                        
                            <a href="{{ path('app_logout') }}">
                                Logout
                                                                                                                                                            
                                                                                                                            
                                                                                            
                                                            
                            </a>
                        </div>
                    {% endif %}

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <label for="inputEmail">
                            Email
                                                                                                            
                                                                                
                                                    
                        </label>
                        <input class="input100" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>{# <input class="input100" type="text" name="username" placeholder="User name">
                                                                                                                                            <span class="focus-input100" data-placeholder="&#xe82a;"></span> #}
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <label for="inputPassword">
                                Password
                                                                                                                        
                                                                                            
                                                            
                            </label>
                            <input class="input100" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">{# <input class="input100" type="password" name="pass" placeholder="Password">
                                                                                                                                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span> #}
                                </div>

                                <div class="container-login100-form-btn m-t-32" type="submit">
                                    <button class="login100-form-btn">
                                        Login
                                                                                                                                                                                                                        
                                                                                                                                                                                                    
                                                                                                                                                                
                                                                                                                    
                                                                            
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div id="dropDownSelect1"></div>

            {% endblock %}
            