{% extends 'base.html.twig' %}

{% block title %}Professeur{% endblock %}

{% block body %}
    <h1>Professeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ professeur.id }}</td>
            </tr>
            <tr>
                <th>NomComplet</th>
                <td>{{ professeur.nomComplet }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ professeur.grade }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_professeur_index') }}">back to list</a>

    <a href="{{ path('app_professeur_edit', {'id': professeur.id}) }}">edit</a>

    {{ include('professeur/_delete_form.html.twig') }}
{% endblock %}
