{% extends 'base.html.twig' %}

{% block title %}Liste des modules
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column justify-content-center align-items-center border">

		<h1>Liste des modules</h1>

		<table class="table table-dark table-striped rounded-3 table-hover">

			<thead>
				<tr>
					<th>N°</th>
					<th>Nom</th>
					<th class="text-center">actions</th>
				</tr>
			</thead>
			<tbody>
				{% set i=0 %}

				{% for module in modules %}
					{% set i=i+1 %}

					<tr>
						<td>{{ i }}</td>
						<td>{{ module.nom }}</td>
						<td class="d-flex justify-content-evenly">
							<a name="" id="" class="btn btn-secondary" href="{{ path('app_module_show', {'id': module.id}) }}" role="button">
								detail
							</a>
							<a name="" id="" class="btn btn-secondary" href="{{ path('app_module_edit', {'id': module.id}) }}" role="button">
								editer
							</a>
						</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a name="" id="" class="btn btn-secondary d-flex align-self-start" href="{{ path('app_module_new') }}" role="button">
			Add new classe
		</a>
		<div class"d-flex justify-self-center">
			{{ knp_pagination_render(modules,'pagination.html.twig') }}
		</div>
	</div>
{% endblock %}
