{% extends 'base.html.twig' %}

{% block title %}Liste des Etudiants
{% endblock %}

{% block body %}
	{%set i=0%}

	<div class="container d-flex flex-column justify-content-center align-items-center border">

		<h1>Liste des Etudiants</h1>

		<table class="table table-dark table-striped rounded-3 table-hover">

			<thead>
				<tr>
					<th>N°</th>
					<th>NomComplet</th>
					<th>Matricule
					</th>
					<th>Sexe
					</th>
					<th>Adresse
					</th>
					<th class="text-center">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for etudiant in etudiants %}
					{%set i=i+1%}
					<tr>
						<td>{{i}}
						</td>
						<td>{{ etudiant.nomComplet }}
						</td>
						<td>
							{{ etudiant.matricule }}
						</td>
						<td>
							{{ etudiant.sexe }}
						</td>
						<td>
							{{ etudiant.adresse }}
						</td>
						<td class="d-flex justify-content-evenly">
							<a name="" id="" class="btn btn-secondary" href="{{ path('app_etudiant_show', {'id': etudiant.id}) }}" role="button">
								detail
							</a>
							<a name="" id="" class="btn btn-secondary" href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}" role="button">
								editer
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
		</table>
		<a name="" id="" class="btn btn-secondary d-flex align-self-start" href="{{ path('app_inscription_new') }}" role="button">Ajouter un Etudiant</a>
		<div class"d-flex justify-self-center">
			{{ knp_pagination_render(etudiants,'pagination.html.twig') }}
		</div>

	</div>
{% endblock %}
