{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>NomComplet</th>
                <td>{{ etudiant.nomComplet }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etudiant.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ etudiant.roles ? etudiant.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ etudiant.password }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ etudiant.matricule }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ etudiant.sexe }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ etudiant.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_index') }}">back to list</a>

    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
